body {
    padding: 0px;
    margin: 0px;
    border: solid 1px green;
}

.container2 {
    text-align: center;
    border: solid 1px
}

/*div holding the navigation*/
.navigation {
    position: relative;
    text-align: center;
    height: 90px;
    width: 100%;
}

/*logo*/
.logo {
    margin: 0px;
    width: 100px;
    height: 90px;
    text-align: center;
    float: left;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 15px;
    width: max;
    height: 52px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

li {

    float: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 100px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

li a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0F1221;
}

.contactt {
    margin: 0px;
    width: 170.67px;
    background: #5E3BEE;
    border-radius: 5.33333px;
    font-size: 20px;
    color: white;
    border: solid 1px #5E3BEE;
    color: #5E3BEE;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 15px;
}

.contactt:hover {
    background-color: #5E3BEE;
    color: white;
    cursor: pointer;
}

/*header section*/
.header1 {
    background: #F5FCFF;
    width: 100%;
    height: 996.41px;
    position: relative;
}

.header {
    max-width: 1500px;
    margin: auto;
}

/*left section of the header*/
.left {
    width: 790.67px;
    height: 526.67px;
    margin: 0;
    margin-left: 30px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
}

/*text inside the left header*/
.hi {
    width: 141px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21.3333px;
}


.content1 {
    width: 790.67px;
    height: 150px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50.6667px;
    margin: 0px;
}

.content2 {
    margin: 0px;
    width: 750.33px;
    height: 73.33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

/*get in touch button*/
.getInTouch {
    padding: 15px;
    background: #5E3BEE;
    border-radius: 5.33333px;
    font-size: 20px;
    color: white;
    margin-top: 50px;
    border: solid 1px #5E3BEE;
}

.getInTouch:hover {
    cursor: pointer;
    color: #5E3BEE;
    background-color: white;
}

.content1 label {
    color: #5E3BEE;
    margin: 0px;
    padding: 0px;
}

/*right side*/
.right {
    width: 917.33px;
    height: 729.74px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(-50%);
    right: 20px;

}

.pic1 {
    width: 100px;
    height: 100px;
}

/* ------ WHAT I DO SECTION----------------------------*/
.skills {
    padding-top: 50px;
    max-width: 1500px;
    margin: auto;
}

.sk2 {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 100px;
}

.showcase {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}



#webdev {
    border: none;
    margin: 10px;
    text-align: left;
    background: #F5FCFF;
    border-bottom: 4px solid #5E3BEE;
    border-radius: 10.6667px;
}


#devt {
    font-size: 30px;
    color: green;
    width: max-content;
    padding: 5px;
    margin: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10.6667px;
}

#apico {
    font-size: 20px;
    color: green;
    width: max-content;
    padding: 5px;
    margin: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10.6667px;
}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

/*------------about e=e section-------------------*/
.about1 {
    margin-top: 50px;
    background-color: #F5FCFF;
    border-radius: 10.6667px;
    ;
}

.about {
    max-width: 1500px;
    margin: auto;
}

.abtme {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 50px;
}

.txtabt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
}



/*-------------contact me section--------------*/
.contact {
    padding: 30px;
    padding-top: 100px;
    max-width: 1000px;
    margin: auto;

}

.gtin {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21.3333px;
}

.ctme {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
}

.lt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.ccrmform {
    text-align: left;
}

#Fname{
    border-color:  #5E3BEE
}

#Lname{
    border-color: #5E3BEE
}

#message{
    border-color: #5E3BEE;
    height: 200px;
} 

#sbtn{
    background-color: #5E3BEE;
    color: white;
}

#sbtn:hover{
    color: #5E3BEE;
    background-color: white;
    border-color: #5E3BEE;
}

footer{
    background-color: #F5FCFF;
    margin: 0px;
    border: solid 1px;
    height: 200px;
}

.footer{
    max-width: 1000px;
    margin: auto;
}