<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/home.css" />
    <link href="https://fonts.googleapis.com/css?family=Work Sans" rel="stylesheet" class="ng-scope">
    <link
        href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900'
        rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="./js/home.js"></script>
</head>

<body>
    <!--div holding the whole page-->
    <div class="container2">

        <!--navigaion-->
        <div class="navigation">

            <!--logo-->
            <h1 class="logo">
                Max Kodi
            </h1>



            <!--links-->
            <!--<ul>
                <li><a href="#skills1">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#about">About me</a></li>
            </ul>-->

            <!--contact me button-->
            <a href="#contact" class="contactt">Contact me</a>

        </div>

        <!--header section-->
        <div class="header1">

            <div class="header">

                <!--left section-->
                <div class="left">

                    <!--content-->
                    <div class="content">

                        <p class="hi">Hey, I'm Max</p>
                        <h1 class="content1">I'm a <label>full-stack web developer</label> with expertise in front and back end development
                        </h1>
                        <br><br>
                        <p class="content2">As a self-taught full-stack web developer, I've ventured into the fascinating world of programming with sheer determination and a passion for creating digital experiences. I strive to craft seamless, user-friendly websites that leave a lasting impression. </p>

                        <br><br>
                        <!--link-->
                        <a href="#contact" class="getInTouch">Get In Touch</a>

                    </div>

                </div>

                <!--right side-->
                <!--picture-->
                <div class="right">
                    <!--profile picture-->
                    <img class="pic1" src="./images/profile.png" alt="">

                </div>

            </div>
        </div>

        <br><br><br><br>
        <!--my skills section-->
        <div id="skills1" style="max-width: 1500px; margin: auto; ">

            <h1 style="font-family: 'Roboto';
            font-style: normal; font-weight: 700; font-size: 40px; text-align:left; margin-left: 20px;">My Skills</h1>

            <br><br>
            <div class="skills11" style="max-width: 1000px; margin: auto;">


                <div class="img1" style="width: 100px; height: 100px; background-image: url(./images/1.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; margin: 30px;  "></div>

                <div class="img1" style="width: 100px; height: 100px; background-image: url(./images/2.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; margin: 30px; "></div>

                <div class="img1" style="width: 100px; height: 100px; background-image: url(./images/3.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; margin: 30px;"></div>

                <div class="img1" style="width: 100px; height: 100px; background-image: url(./images/4.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; margin: 30px;"></div>

                <div class="img1" style="width: 100px; height: 100px; background-image: url(./images/5.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; margin: 30px;"></div>

                <div class="img1" style="width: 100px; height: 100px; background-image: url(./images/6.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; margin: 30px;"></div>

                <div class="img1" style="width: 100px; height: 100px; background-image: url(./images/7.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; margin: 30px;"></div>

                <div class="img1" style="width: 100px; height: 100px; background-image: url(./images/8.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; margin: 30px;"></div>

                <div class="img1" style="width: 100px; height: 100px; background-image: url(./images/9.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; margin: 30px;"></div>


            </div>


        </div>

        <br><br>

        <!---About me sections-->
        <div id="about" class="about1">
            <br><br><br>
            <div class="about">
                <!--left side-->
                <div class="abtleft">
                    <div class="lftimg"></div>
                </div>

                <!--right side-->
                <div class="abtright">

                    <h1 class="abtme">About Me</h1>

                    <p class="txtabt">Beyond coding, I'm fascinated by the potential of artificial intelligence and machine learning, and I'm actively exploring this field. When I'm not immersed in tech, you'll find me on the soccer field, where I've learned the importance of teamwork and quick thinking. I'm always seeking new collaborations and opportunities to make a positive impact with my skills and creativity. Let's connect and discuss how we can create something amazing together!</p>
                </div>

            </div>
            <br><br><br>

        </div>

        <!--what I do section-->
        <div class="skills" id="projects">

            <h1 class="sk2">Projects</h1>

            <!--showcase your projects-->
            <div class="showcase ">

                <!--weather app-->
                <div class="apiinter card" id="webdev" style="width: 18rem;">
                    <img src="./images/weather.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Weather App</h5>
                        <p class="card-text">A small web application that requests your geolocation and uses your longitudes and latidues to give you weather data using API</p>
                        <a href="https://weatherapp-w817.onrender.com/" class="btn btn-primary" target="_blank">Launch web app</a>
                        <a href="https://github.com/maxi114/weatherApp" class="btn" target="_blank" style="background-color: black; color: white;" ><img src="./images/github2.png" alt="" srcset="" > Github</a>
                    </div>
                </div>


                <!--wikipedia search-->
                <div class="apiinter card" id="webdev" style="width: 18rem;">
                    <img src="./images/wikipedia.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wikipedia Search</h5>
                        <p class="card-text">A web application that gets your input and fetches clickable wikipedia links using API</p>
                        <a href="https://wikipediasearch.onrender.com/" class="btn btn-primary" target="_blank">Launch web app</a>
                        <a href="https://github.com/maxi114/wikipediaSearch" class="btn" target="_blank" style="background-color: black; color: white;" ><img src="./images/github2.png" alt="" srcset="" > Github</a>
                    </div>
                </div>


                <!--tic tac toe--->
                <div class="apiinter card" id="webdev" style="width: 18rem;">
                    <img src="./images/tictactoe.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tic Tac Toe</h5>
                        <p class="card-text">Play tic tac toe with a small algorithim</p>
                        <a href="https://tic-tac-toe-0fjr.onrender.com/" class="btn btn-primary" target="_blank">Launch web app</a>
                        <a href="https://github.com/maxi114/Tic-Tac-Toe" class="btn" target="_blank" style="background-color: black; color: white;" ><img src="./images/github2.png" alt="" srcset="" > Github</a>
                    </div>
                </div>

                <!--INVESTR LOFT-->
                <div class="apiinter card" id="webdev" style="width: 18rem;">
                    <img src="./images/investrloft.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Investrloft</h5>
                        <p class="card-text">This is a completed web application, you will need to create an investors and startup owner account and post to see its potential. </p>
                        <a href="https://investrloft.onrender.com/homent" class="btn btn-primary" target="_blank">Launch web app</a>
                        <a href="https://github.com/maxi114/investrloftt" class="btn" target="_blank" style="background-color: black; color: white;" ><img src="./images/github2.png" alt="" srcset="" > Github</a>
                    </div>
                </div>


            </div>

        </div>


        <!--contact me section-->
        <div id="contact" class="contact">

            <p class="gtin">Get In Touch</p>
            <h1 class="ctme">Contact Me</h1>
            <p class="lt">let's take your online presence to the next level.</p>

            <p class="error"></p>
            <!--form-->
            <form class="row g-3 ccrmform">
                <div class="col-md-6">
                    <label for="Fname" class="form-label">Name</label>
                    <input type="text" class="form-control" id="Fname" ng-model="vm.contact.name">
                </div>
                <div class="col-md-6">
                    <label for="Lname" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="Lname" ng-model="vm.contact.email">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Type your message.."
                        ng-model="vm.contact.message"></textarea>
                </div>

        </div>
        <div class="col-12" id="btn3">
            <button type="submit" class="btn " id="sbtn">Message</button>
            <i class="fa fa-circle-o-notch fa-spin" id="spin3"></i>
        </div>
        </form>


        <br><br><br><br><br>
        <!--footer section-->
        <footer>
            <div class="footer">

                <!--logo-->
                <h1 class="ftlogo"> Max Kodi</h1>

            </div>
        </footer>

    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>